.work-wrapper {
  height: 100vh;
  // background-color: rgb(31, 28, 31);
  background-image: url('../../../images/white-curves.jpg');
  background-position: center;
  background-size: cover;

  .work {
    height: 100%;

    .work-portfolio {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      width: calc(100% - 75px);
      margin-left: 75px;

      .work-portfolio-1 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;

        #globalrItem {
          img {
            margin: 0 23px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .work {
    height: unset !important;

    .work-portfolio {
      width: 100% !important;
      margin-left: 0 !important;

      .work-portfolio-1 {
        flex-direction: column;
        height: unset;
      }
    }
  }
}


@media only screen and (max-width: 800px) {
  .work-wrapper {
    height: unset;
  }
}
