.work-wrapper {
  height: 100vh;
  background-color: rgb(31, 28, 31);

  .work {
    height: 100%;

    .work-portfolio {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      width: calc(100% - 75px);
      margin-left: 75px;

      .work-portfolio-1 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
      }
    }
  }
}
