.landing-wrapper {
  height: 100%;
  background-color: rgb(26, 23, 26);
  width: calc(100% - 75px);
  float: right;

  .landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    position: absolute;
    top: 0;
  }

  .about-wrapper {
    color: white;
    line-height: 2;
    padding: 0 20%;
    font-weight: 300;
  }
}
