.avatar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;

  .image-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-top: 2px solid #FFC000;
    border-right: 2px solid #FFC000;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    padding: 10px;
    animation: spin 10s infinite linear;

  /*  &:hover {
      animation: spin 5s infinite linear;

      img {
        animation: spin 5s infinite reverse linear;
      }
    } */
  }

  .image-circle img {
    animation: spin 10s infinite reverse linear;
    width: 100%;
    border-radius: 50%;
  }

  @keyframes spin {
      100% {
          transform: rotate(1turn);
      }
  }

  .avatar {
    border-radius: 50%;
    height: 150px;
    width: 150px;
  }
}


@media only screen and (max-width: 700px) {
  .avatar-wrapper {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 415px) {
  .avatar {
    height: 100px !important;
    width: 100px !important;
  }

  .image-circle {
    width: 100px !important;
    height: 100px !important;
  }
}

@media only screen and (max-width: 350px) {
  .avatar {
    height: 80px !important;
    width: 80px !important;
  }

  .image-circle {
    width: 80px !important;
    height: 80px !important;
  }
}
