.work-item {
  height: 250px;
  width: 250px;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  transition: 0.3s linear;
  top: 0;

  &:hover {
    .overlay {
      background: rgba(255, 255, 255, 0.4);
      opacity: 1;
    }

    .technology-stack {
      display: block;
      opacity: 1;
      transition: 0.25s linear;
    }

    top: -60px;
    transition: 0.25s linear;
  }

  .technology-stack {
    position: absolute;
    bottom: -45px;
    display: none;
    color: white;
    transition: 0.3s linear;
    height: 60px;
    margin-bottom: -30px;
    opacity: 0;
  }

  img {
    height: 100%;
    width: 100%;
    display: block;
    width: 100%;
    height: auto;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .4s ease;
    background-color: #ffffff;
    display: flex;
    align-items: center;
  }

  .work-proceed-button {
    color: white;
    font-size: 18;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    background-color: #40C000;
    padding: 5px 10px;
    border-radius: 20px;
    text-decoration: none;
    z-index: 2;
    box-shadow: 6px 6px 3px grey;

    &:visited {
      text-decoration: none;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .work-item {
    width: 200px;
    height: 200px;
  }
}

@media only screen and (max-width: 600px) {
  .work-item {
    width: 175px;
    height: 175px;
  }
}

@media only screen and (max-width: 400px) {
  .work-item {
    height: 150px;
    width: 150px;
  }
}
