@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  font-family: 'Comfortaa', cursive;
  overflow-x: hidden;
}

h1 {
  font-size: 32px;
  color: #D0D9CE;
}

h2 {
  font-size: 26px;
  color: #D0D9CE;
}
  
h3 {
  font-size: 22px;
  color: #D0D9CE;
}

p, a, span {
  font-size: 16px;
  color: #D0D9CE;
  font-weight: 300;
}