#contact-me {
    min-height: 100vh;
    background-color: #1d1d1d;
    padding: 00px 100px;

    h1 {
        margin-top: 0;
        padding-top: 50px;
    }

    .contact-me-wrapper {
        display: flex;
        justify-content: center;
        height: calc(100vh - 185px);
        align-items: center;
        flex-direction: column;

        .social-icon-wrapper {
            a {
                height: 50px;
                width: 50px;

                .social-icon {
                    height: 50px;
                    width: 50px;
                    fill: #D0D9CE;
                    margin: 15px;
                    padding: 10px;
                    transition: all 0.2s linear;
                }
            }

            a:hover {
                svg {
                    fill: #631fa3;
                    transition: all 0.2s linear;
                }
            }
        }

        .email-link {
            padding: 5px 10px;
            text-decoration: none;
            display: inline-block;
            position: relative;
        }
    
        .email-link:after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 1px;
            top: 30px;
            bottom: 0;
            left: 0;
            background-color: #631fa3;
            transform-origin: bottom right;
            transition: transform 0.3s ease-out;
        }
    
        .email-link:hover:after {
            transform: scaleX(1);
            top: 30px;
            transform-origin: bottom left;
        }

        .email-link {
            transition: all 0.2s linear;
        }

        .email-link:hover {
            color: #631fa3;
            transition: all 0.2s linear;
        }
    }
}