.sidebar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;

  .sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75px;
    height: 100%;
    background-color: rgb(16, 13, 16);

    .home-icon-wrapper:hover {
      .sidebar-home-icon {
        svg {
          color: #FFC000;
        }
      }

      .home-icon-text {
        display: block;
        transition: opacity 0.2s linear;
        transform:translate(0);
        opacity: 1;
      }
    }
    .work-icon-wrapper:hover {
      .sidebar-document-icon {
        svg {
          color: #40C000;
        }
      }

      .work-icon-text {
        display: block;
        transition: opacity 0.2s linear;
        transform:translate(0);
        opacity: 1;
      }
    }

    .network-icon-wrapper:hover {
      .sidebar-network-icon {
        svg {
          color: #0080FF;
        }
      }

      .network-icon-text {
        display: block;
        transition: opacity 0.2s linear;
        transform:translate(0);
        opacity: 1;
      }
    }

    svg {
      color: rgb(250, 250, 250);
      padding: 20px 0;
      transition: 0.15s linear;

      &:hover {
        transform: scale(1.25);
        transition: 0.15s linear;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .sidebar-wrapper {
    display: none;
  }
}

.home-icon-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .home-icon-text {
    color: #FFC000;
    position: absolute;
    top: 370px;
    left: 60px;
    transition: opacity 0.2s linear;
    transform:translate(0);
    opacity: 0;
  }
}

.work-icon-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .work-icon-text {
    color: #40C000;
    position: absolute;
    top: 440px;
    left: 60px;
    transition: opacity 0.2s linear;
    transform:translate(0);
    opacity: 0;
  }
}

.network-icon-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .network-icon-text {
    color: #0080FF;
    position: absolute;
    top: 510px;
    left: 60px;
    transition: opacity 0.2s linear;
    transform:translate(0);
    opacity: 0;
  }
}
