.network-wrapper {
  height: 100vh;
  // background-color: rgb(36, 33, 36);
  background-image: url('../../../images/abstract-black.jpg');
  background-position: center;
  background-size: cover;

  .network {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  .social-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 50%;

    .social-icon-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 50px;
      background-color: white;
      opacity: 0.95;
      border-radius: 50%;
      transition: 0.25s linear;

      .social-email-icon {
        color: #c71610;
      }

      .social-twitter-icon {
        color: #1dcaff;
      }

      .social-linkedin-icon {
        color: #2877b7;
      }

      .social-facebook-icon {
        color: #3B5998;
      }
    }

    .social-icon-wrapper-email:hover {
      background-color: #c71610;
      transition: 0.25s linear;

      .social-email-icon {
        color: white;
      }
    }

    .social-icon-wrapper-twitter:hover {
      background-color: #1dcaff;
      transition: 0.25s linear;

      .social-twitter-icon {
        color: white;
      }
    }

    .social-icon-wrapper-linkedin:hover {
      background-color: #2877b7;
      transition: 0.25s linear;

      .social-linkedin-icon {
        color: white;
      }
    }

    .social-icon-wrapper-facebook:hover {
      background-color: #3B5998;
      transition: 0.25s linear;

      .social-facebook-icon {
        color: white;
      }
    }
  }
}

@duration: .3s;
@distance: 8px;
@easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);

.social-links {
  font-size: 16px;
  color: #F8F8FF;
  position: relative;
  text-decoration: none;
  padding-bottom: 8px;
  letter-spacing: 0.5px;

   &:before,
    &:after {
        content: '';
        position: absolute;
        bottom: 2px;
        left: 0; right: 0;
        height: 1px;
        background-color: #0080FF;
    }
    &:before {
        opacity: 0;
        transform: translateY(- @distance);
        transition: transform 0s @easeOutBack, opacity 0s;
    }
    &:after {
        opacity: 0;
        transform: translateY(@distance/2);
        transition: transform @duration @easeOutBack, opacity @duration;
    }
    &:hover,
    &:focus {
        &:before,
        &:after {
            opacity: 1;
            transform: translateY(0);
        }
        &:before {
            transition: transform @duration @easeOutBack, opacity @duration;
        }
        &:after {
            transition: transform 0s @duration @easeOutBack, opacity 0s @duration;
        }
    }
}

@media only screen and (max-width: 700px) {
  .social-wrapper {
    flex-direction: column;
  }
}
